# Experimento 5
## Correção do Fator de Potência Monofásico em Instalações de Características Indutivas
Aluno: 
    
    Victor Hugo de Avelar Rezende

Professor: 

    Sergio Leon Escalante

# Bilbliotecas

In [24]:
import math as m
import cmath as cm
import pandas as pd
import numpy as np

# Preambulo

In [25]:
V = 220.22
C = 36.7E-6
L=0.23
f = 60
Xc = 1/(2*np.pi*f*C)

# 1° Caso

In [26]:
R = 230.1
I = V/R
P = V*I

In [27]:
vals = [I, P ,R]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['I', 'P', 'R'], 
                       columns = ['Módulo','fase'])
display(df_vals)

       Módulo  fase
I    0.957062   0.0
P  210.764226   0.0
R  230.100000   0.0

# 2° Caso

In [28]:
P = 0
jXl = 60*L*2*m.pi*complex(m.cos(np.radians(90)),m.sin(np.radians(90)))
I = V/jXl

In [29]:
vals = [I, P ,jXl]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['I', 'P', 'jXl'], 
                       columns = ['Módulo','fase'])
display(df_vals)

        Módulo  fase
I     2.539790 -90.0
P     0.000000   0.0
jXl  86.707957  90.0

# 3° Caso

In [30]:
P = 0

jXc = complex(0,-Xc)

I = V/jXc

In [31]:
vals = [I, P ,jXc]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['I', 'P', 'jXc'], 
                       columns = ['Módulo','fase'])
display(df_vals)

        Módulo  fase
I     3.046870  90.0
P     0.000000   0.0
jXc  72.277449 -90.0

# 4° Caso

In [32]:
Xl = jXl/(1j)
P = (V**2)/R
I12=V/R
I34=V/jXl
I56=V/jXc

I = I12+I34+I56

Z=complex(R,Xl-Xc)
Fp = m.cos(cm.phase(Z))

In [33]:
vals = [P ,
        I12, I34, I56,
        I,
        Z,
        Fp]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['P' ,
                               'I12', 'I34', 'I56',
                               'I',
                               'Z',
                               'Fp'], 
                       columns = ['Módulo','fase'])
display(df_vals)

         Módulo       fase
P    210.764226   0.000000
I12    0.957062   0.000000
I34    2.539790 -90.000000
I56    3.046870  90.000000
I      1.083097  27.915981
Z    230.552054   3.588552
Fp     0.998039   0.000000

# 5° Caso

In [34]:
Xl = jXl/(1j)
P = (V**2)/R
I12=V/R
I34=V/jXl

I = I12+I34

Z=complex(R,Xl)
Fp = m.cos(cm.phase(Z))

In [35]:
vals = [P ,
        I12, I34, 
        I,
        Z,
        Fp]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['P' ,
                                'I12', 'I34',
                                'I',
                                'Z',
                                'Fp'], 
                       columns = ['Módulo','fase'])
display(df_vals)

         Módulo       fase
P    210.764226   0.000000
I12    0.957062   0.000000
I34    2.539790 -90.000000
I      2.714130 -69.352222
Z    245.894855  20.647778
Fp     0.935766   0.000000