# Experimento 3
## Circuito Trifásico: Carga Equilibrada e Desiquilibrada em Delta
Aluno: 
    
    Victor Hugo de Avelar Rezende

Professor: 

    Sergio Leon Escalante

# Bibliotecas

In [108]:
import math as m
import cmath as cm
import pandas as pd
import numpy as np

# Ligação Delta

## Préambulo

### Tensão de fase

In [109]:
Van = 127*complex(m.cos(0),m.sin(0))
Vbn = 127*complex(m.cos(np.radians(-120)),m.sin(np.radians(-120)))
Vcn = 127*complex(m.cos(np.radians(120)),m.sin(np.radians(120)))

### Tensão de linha

In [110]:
Vab = Van - Vbn
Vac = Vcn - Van  
Vbc = Vbn - Vcn

### Vizualização dos valores

In [111]:
vals = [Van, Vbn ,Vcn,
        Vab, Vac, Vbc]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Van', 'Vbn', 'Vcn',
                                'Vab', 'Vac', 'Vbc'], 
                       columns = ['Módulo','fase'])
display(df_vals)

         Módulo   fase
Van  127.000000    0.0
Vbn  127.000000 -120.0
Vcn  127.000000  120.0
Vab  219.970453   30.0
Vac  219.970453  150.0
Vbc  219.970453  -90.0

## Equilibrado

### Resistencias

In [112]:
Ra = Rb = Rc = 230

## Convertendo a carga em Estrela

In [113]:
Rya = (Ra*Rc)/(Ra+Rb+Rc)
Ryb = (Rb*Ra)/(Ra+Rb+Rc)
Ryc = (Rc*Rb)/(Ra+Rb+Rc)

### Malhas
Resolvendo sistemas com as malhas \
\
Malha 1:
    
    Van - Rya*I1 - Ryb*I1 + Ryb*I2 - Vbn = 0
    
Malha 2:
    
    Vbn - Ryb*I2 + Ryb*I1 - Ryc*I2 - Vcn = 0

In [114]:
M1 = np.array([[(Rya+Ryb),-Ryb],
              [-Ryb,(Ryb+Ryc)]])
M2 = np.array([[(Van-Vbn)],
              [(Vbn-Vcn)]])
I = np.linalg.solve(M1,M2)

I1 = I[0]
I2 = I[1]

### Corrente de fase

In [115]:
Ian = I1
Ibn = I2 - I1
Icn = -I2

### Corrente na carga

In [116]:
Iab =Ian/np.sqrt(3)*complex(m.cos(np.radians(30)),m.sin(np.radians(30)))
Ibc =Ibn/np.sqrt(3)*complex(m.cos(np.radians(30)),m.sin(np.radians(30)))
Ica =Icn/np.sqrt(3)*complex(m.cos(np.radians(30)),m.sin(np.radians(30)))

### Vizualização dos valores

In [117]:
vals = [Ian, Ibn, Icn, 
        Iab,  Ibc,  Ica]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ian', 'Ibn', 'Icn',
                                'Iab', 'Ibc', 'Ica'], 
                       columns = ['Módulo','fase'])
display(df_vals)

                   Módulo          fase
Ian  [1.6565217391304343] -6.411197e-15
Ibn   [1.656521739130435] -1.200000e+02
Icn   [1.656521739130435]  1.200000e+02
Iab  [0.9563932720054235]  3.000000e+01
Ibc  [0.9563932720054238] -9.000000e+01
Ica  [0.9563932720054238]  1.500000e+02

## Desequilibrado

### Corrente de carga

In [136]:
Iab = 1.2*complex(m.cos(np.radians(30)),m.sin(np.radians(30)))
Ibc = 1.5*complex(m.cos(np.radians(-90)),m.sin(np.radians(-90)))

### Vizualização dos valores

In [137]:
vals = [Iab,  Ibc,  Ica]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Iab',  'Ibc',  'Ica'], 
                       columns = ['Módulo','fase'])
display(df_vals)

                   Módulo   fase
Iab                   1.2   30.0
Ibc                   1.5  -90.0
Ica  [0.9563932720054238]  150.0

### Corrente de Fase

In [138]:
Ian = Iab*np.sqrt(3)*complex(m.cos(np.radians(30)),m.sin(np.radians(30)))
Ibn = Ibc*np.sqrt(3)*complex(m.cos(np.radians(30)),m.sin(np.radians(30)))

### Resistencias

In [139]:
Ra = Vab/Iab
Rb = Vbc/Ibc

### Vizualização dos valores

In [140]:
vals = [Ian,  Ibn,  Icn,
        Ra,  Rb,  Rc,]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ian', 'Ibn', 'Icn',
                                'Ra', 'Rb', 'Rc'], 
                       columns = ['Módulo','fase'])
display(df_vals)

                    Módulo          fase
Ian               2.078461  6.000000e+01
Ibn               2.598076 -6.000000e+01
Icn  [0.22140006108373558]  1.015651e+02
Ra               183.30871  1.282239e-14
Rb              146.646968 -3.508355e-15
Rc                     230  0.000000e+00

# Sequencia de Fases

## Cargas

In [123]:
Rya = Ryc = 230
Ryb = complex(0,230)

## Malhas
Resolvendo sistemas com as malhas \
\
Malha 1:
    
    Van - Rya*I1 - Ryb*I1 + Ryb*I2 - Vbn = 0
    
Malha 2:
    
    Vbn - Ryb*I2 + Ryb*I1 - Ryc*I2 - Vcn = 0

In [124]:
M1 = np.array([[(Rya+Ryb),-Ryb],
              [-Ryb,(Ryb+Ryc)]])
M2 = np.array([[(Van-Vbn)],
              [(Vbn-Vcn)]])
I = np.linalg.solve(M1,M2)

I1 = I[0]
I2 = I[1]

## Corrente de Fase

In [125]:
Ian = I1
Ibn = I2 - I1
Icn = -I2

## Tensões de Fase

In [126]:
Van = Ian*Rya
Vbn = Ibn*Ryb
Vcn = Icn*Ryc

## Visualização

In [127]:
vals = [Ian,  Ibn,  Icn,
        Rya,  Ryb,  Ryc,
        Van, Vbn ,Vcn]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ian', 'Ibn', 'Icn',
                                'Ra', 'Rb', 'Rc',
                                'Van', 'Vbn' ,'Vcn'], 
                       columns = ['Módulo','fase'])
display(df_vals)

                    Módulo        fase
Ian   [0.8262762767633536]  -18.434949
Ibn   [0.7408190429803652]  176.565051
Icn  [0.22140006108373558]  101.565051
Ra                     230    0.000000
Rb                   230.0   90.000000
Rc                     230    0.000000
Van   [190.04354365557134]  -18.434949
Vbn   [170.38837988548394]  -93.434949
Vcn   [50.922014049259175]  101.565051