# Máquinas Elétricas 1

Aluno: 
    
    Victor Hugo de Avelar Rezende

## Bibliotecas

In [1]:
import math as m
import pandas as pd

## Valores da Maquina

In [2]:
S = 520000000
Vl = 24000
F = 60
FP = 0.92
Laao = 3.27258*0.001
Laaii = 0.0458*0.001
Labo = 1.6379*0.001
Labii = 0.0458*0.001
Lafd = 40*0.001
Lffd = 576.92*0.001
Ra = 0.0031
Rfd =0.0715

## item a

In [3]:
Ld = Laao + Labo + 1.5*Laaii
Lq = Laao + Labo - 1.5*Laaii

In [4]:
vals = [["Ld" ,Ld, "H"],
        ["Lq" ,Lq, "H"]]

df_vals = pd.DataFrame(data = vals,
                       columns = ['Grandeza','Valor','Unidade']
                      )
display(df_vals)

  Grandeza     Valor Unidade
0       Ld  0.004979       H
1       Lq  0.004842       H

## item b

In [5]:
Ll = 0.42*0.001
Lad = Ld - Ll 
Laq = Lq - Ll

In [6]:
vals = [["Lad" ,Lad, "H"],
        ["Laq" ,Laq, "H"]]

df_vals = pd.DataFrame(data = vals,
                       columns = ['Grandeza','Valor','Unidade'])
display(df_vals)

  Grandeza     Valor Unidade
0      Lad  0.004559       H
1      Laq  0.004422       H

## item c

### Valores de Base

In [7]:
Sbase = S
Vsbase = Vl/(3**0.5)
vsbase = m.sqrt(2)*Vsbase
Isbase = Sbase/(3*Vsbase)
isbase = m.sqrt(2)*Isbase
Zsbase = vsbase/isbase
Wbase = 2*m.pi*F
Lsbase = Zsbase/Wbase
ifdbase = (isbase*Lad)/Lafd
vfdbase = Sbase/ifdbase
Zfdbase = vfdbase/ifdbase
Lfdbase = Zfdbase/Wbase

In [8]:
vals = [["Sbase" ,Sbase, "VA"],
        ["Vsbase" ,Vsbase, "V"],
        ["vsbase" ,vsbase, "V"],
        ["Isbase" ,Isbase, "A"],
        ["isbase" ,isbase, "A"],
        ["Zsbase" ,Zsbase, "Ohms"],
        ["Wbase" ,Wbase, "rad/s"],
        ["Lsbase" ,Lsbase, "H"],
        ["ifdbase" ,ifdbase, "A"],
        ["vfdbase" ,vfdbase, "V"],
        ["Zfdbase" ,Zfdbase, "Ohms"],
        ["Lfdbase" ,Lfdbase, "H"]]

df_vals = pd.DataFrame(data = vals,
                       columns = ['Grandeza','Valor','Unidade'])
display(df_vals)

   Grandeza         Valor Unidade
0     Sbase  5.200000e+08      VA
1    Vsbase  1.385641e+04       V
2    vsbase  1.959592e+04       V
3    Isbase  1.250926e+04       A
4    isbase  1.769076e+04       A
5    Zsbase  1.107692e+00    Ohms
6     Wbase  3.769911e+02   rad/s
7    Lsbase  2.938245e-03       H
8   ifdbase  2.016384e+03       A
9   vfdbase  2.578874e+05       V
10  Zfdbase  1.278960e+02    Ohms
11  Lfdbase  3.392546e-01       H

### Valores em p.u.

In [9]:
Ll = Ll/Lsbase
Lad = Lad/Lsbase
Laq = Laq/Lsbase
Ld = Lad + Ll
Lq = Laq + Ll
Lafd = (Lafd*ifdbase)/(Lsbase*isbase)
Lffd = Lffd/Lfdbase
Lfd = Lffd-Lad
Ra = Ra/Zsbase
Rfd = Rfd/Zfdbase

In [10]:
vals = [["Ll" ,Ll, "p.u."],
        ["Lad" ,Lad, "p.u."],
        ["Laq" ,Laq, "p.u."],
        ["Ld" ,Ld, "p.u."],
        ["Lq" ,Lq, "p.u."],
        ["Lafd" ,Lafd, "p.u."],
        ["Lffd" ,Lffd, "p.u."],
        ["Lfd" ,Lfd, "p.u."],
        ["Ra" ,Ra, "p.u."],
        ["Rfd" ,Rfd, "p.u."]]

df_vals = pd.DataFrame(data = vals,
                       columns = ['Grandeza','Valor','Unidade'])
display(df_vals)

  Grandeza     Valor Unidade
0       Ll  0.142942    p.u.
1      Lad  1.551668    p.u.
2      Laq  1.504905    p.u.
3       Ld  1.694610    p.u.
4       Lq  1.647848    p.u.
5     Lafd  1.551668    p.u.
6     Lffd  1.700552    p.u.
7      Lfd  0.148884    p.u.
8       Ra  0.002799    p.u.
9      Rfd  0.000559    p.u.