# Experimento 4
## Circuitos Trifásicos
Aluno: 
    
    Victor Hugo de Avelar Rezende

Professor: 

    Sergio Leon Escalante

# Bibliotecas

In [42]:
import math as m
import cmath as cm
import pandas as pd
import numpy as np

# Préambulo

## Tensão de fase

In [43]:
Van = 127*complex(m.cos(0),m.sin(0))
Vbn = 127*complex(m.cos(np.radians(-120)),m.sin(np.radians(-120)))
Vcn = 127*complex(m.cos(np.radians(120)),m.sin(np.radians(120)))

## Resistencias

In [44]:
Ra = Rb = Rc = 230

## Vizualização dos valores

In [45]:
vals = [Van, Vbn ,Vcn,
        Ra, Rb, Rc]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Van', 'Vbn', 'Vcn',
                                'Ra', 'Rb', 'Rc'], 
                       columns = ['Módulo','fase'])
display(df_vals)

     Módulo   fase
Van   127.0    0.0
Vbn   127.0 -120.0
Vcn   127.0  120.0
Ra    230.0    0.0
Rb    230.0    0.0
Rc    230.0    0.0

# 4.1

## a)

In [46]:
Ia = Ib = (Van - Vbn)/(Ra+Rb)
VNN = Van - IA*Ra
S = (Ia*Ra)*Ia.conjugate() + (Ib*Rb)*Ib.conjugate()

In [47]:
vals = [Ia, Ib ,
        VNN,
        S]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib',
                                'VNN',
                                'S'], 
                       columns = ['Módulo','fase'])
display(df_vals)

         Módulo  fase
Ia     0.478197  30.0
Ib     0.478197  30.0
VNN   63.500000 -60.0
S    105.189130   0.0

## b)

In [48]:
Ia = Van/Ra
Ib = Vbn/Rb
IN = Ia + Ib
S = Van*Ia.conjugate() + Vbn*Ib.conjugate()

In [49]:
vals = [Ia, Ib ,
        IN,
        S]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib',
                                'IN',
                                'S'], 
                       columns = ['Módulo','fase'])
display(df_vals)

        Módulo          fase
Ia    0.552174  0.000000e+00
Ib    0.552174 -1.200000e+02
IN    0.552174 -6.000000e+01
S   140.252174 -1.451354e-15

# 4.2

In [50]:
Rx1 = Rx2=230

## a)
Mesmos resultados obtidos na parte 4.1 a)

## b)

### Malhas
Resolvendo sistemas com as malhas \
\
Malha 1:
    
    Van - Ra*I1 - Rb*I1 + Rb*I2 - Vbn = 0
    
Malha 2:
    
    Vbn - Rb*I2 + Rb*I1 - Rc*I2 - Vcn = 0

In [51]:
M1 = np.array([[(Ra+Rb),-Rb],
              [-Rb,(Rb+Rc)]])
M2 = np.array([[(Van-Vbn)],
              [(Vbn-Vcn)]])
I = np.linalg.solve(M1,M2)

I1 = I[0]
I2 = I[1]

In [52]:
Ia = I1
Ib = I2 - I1
Ic = -I2

In [53]:
VNN = Van - Ia*Ra
S = (Ia*Ra)*Ia.conjugate() + (Ib*Rb)*IB.conjugate() + (Ic*Rc)*Ic.conjugate()

In [54]:
vals = [Ia, Ib, Ic,
        VNN,
        S]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib', 'Ic',
                                'VNN',
                                'S'], 
                       columns = ['Módulo','fase'])
display(df_vals)

                      Módulo        fase
Ia      [0.5521739130434781]    0.000000
Ib      [0.5521739130434783] -120.000000
Ic      [0.5521739130434783]  120.000000
VNN  [4.263256414560601e-14]    0.000000
S         [92.7680932525234]  -19.106605

## c)
Mesmos resultad do item 4.1 b)

## d)

### Malhas
Resolvendo sistemas com as malhas \
\
Malha 1:
    
    Van - Ra*I1 + Ra*I3 - Rb*I1 + Rb*I2 - Vbn = 0
    
Malha 2:
    
    Vbn - Rb*I2 + Rb*I1 - Rc*I2 + Rc*I3 - Vcn = 0
    
Malha 3:
    
    -Ra*I3 + Ra*I1 - Rx2*I3 - Rx2*I3 - Rc*I3 + Rc*I2= 0

In [55]:
M1 = np.array([[(Ra+Rb),-Rb,-Ra],
               [-Rb,(Rb+Rc),-Rc],
               [Ra,Rc,-Ra-Rc-Rx2-Rx2]])
M2 = np.array([[(Van-Vbn)],
               [(Vbn-Vcn)],
               [0]])
I = np.linalg.solve(M1,M2)

I1 = I[0]
I2 = I[1]
I3 = I[2]

Ia = I1
Ib = I2 - I1
Ic = -I2
Ia1 = I1 - I3
Ia2 = I3
Ic1 = -I2 + I3
Ic2 = -I3

In [56]:
VNN1 = Van - Ia1*Ra
VNN2 = Van - Ia2*Rx2
VN1N2 = VNN2 - VNN1
S = Van*Ia.conjugate() + Vbn*Ib.conjugate() + Vcn*Ic.conjugate()

In [57]:
vals = [Ia, Ib ,Ic,
        Ia1, Ia2,
        Ic1, Ic2,
        VNN1, VNN2, VN1N2,
        S]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib' , 'Ic',
                               'Ia1', 'Ia2',
                               'Ic1', 'Ic2',
                               'VNN1', 'VNN2', 'VN1N2',
                               'S'], 
                       columns = ['Módulo','fase'])
display(df_vals)

                         Módulo          fase
Ia         [0.9954456782259271] -1.389789e+01
Ib         [0.5521739130434784] -1.200000e+02
Ic         [0.9954456782259273]  1.338979e+02
Ia1        [0.5521739130434782]  0.000000e+00
Ia2        [0.4781966360027117] -3.000000e+01
Ic1        [0.5521739130434783]  1.200000e+02
Ic2        [0.4781966360027117]  1.500000e+02
VNN1   [1.4210854715202004e-14]  0.000000e+00
VNN2       [63.500000000000036]  6.000000e+01
VN1N2       [63.50000000000003]  6.000000e+01
S           [315.5673913043478]  5.805414e-15

## e)

In [58]:
RA = (Ra*Rx2)/(Ra+Rx2)
RC = (Rc*Rx2)/(Rc+Rx2)

### Malhas
Resolvendo sistemas com as malhas \
\
Malha 1:
    
    Van - RA*I1 - Rb*I1 + Rb*I2 - Vbn = 0
    
Malha 2:
    
    Vbn - Rb*I2 + Rb*I1 - RC*I2 - Vcn = 0

In [59]:
M1 = np.array([[(RA+Rb),-Rb],
              [-Rb,(Rb+RC)]])
M2 = np.array([[(Van-Vbn)],
              [(Vbn-Vcn)]])
I = np.linalg.solve(M1,M2)

I1 = I[0]
I2 = I[1]

Ia = I1
Ib = I2 - I1
Ic = -I2
Ia1 = Ia*(Rx2/(Ra+Rx2))
Ia2 = Ia*(Ra/(Ra+Rx2))
Ic1 = Ic*(Rx2/(Rc+Rx2))
Ic2 = Ic*(Rc/(Rc+Rx2))

In [60]:
VNN1 = VNN2 = Van - Ia1*Ra
VN1N2 = 0
S = Van*Ia.conjugate() + Vbn*Ib.conjugate() + Vcn*Ic.conjugate()

In [61]:
vals = [Ia, Ib ,Ic,
        Ia1, Ia2,
        Ic1, Ic2,
        VNN1, VNN2, VN1N2,
        S]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib' , 'Ic',
                               'Ia1', 'Ia2',
                               'Ic1', 'Ic2',
                               'VNN1', 'VNN2', 'VN1N2',
                               'S'], 
                       columns = ['Módulo','fase'])
display(df_vals)

                     Módulo          fase
Ia      [1.012151501320681] -1.089339e+01
Ib     [0.6626086956521738] -1.200000e+02
Ic     [1.0121515013206812]  1.308934e+02
Ia1    [0.5060757506603405] -1.089339e+01
Ia2    [0.5060757506603405] -1.089339e+01
Ic1    [0.5060757506603406]  1.308934e+02
Ic2    [0.5060757506603406]  1.308934e+02
VNN1   [25.400000000000013]  6.000000e+01
VNN2   [25.400000000000013]  6.000000e+01
VN1N2                     0  0.000000e+00
S       [336.6052173913043] -1.209461e-15

# 4.3

## a)

In [62]:
Ia = (Van - Vbn)/Ra
Ic = (Vcn - Vbn)/Rc
Ib = - (Ia + Ic)

In [63]:
vals = [Ia, Ib ,Ic]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib' , 'Ic'], 
                       columns = ['Módulo','fase'])
display(df_vals)

      Módulo   fase
Ia  0.956393   30.0
Ib  1.656522 -120.0
Ic  0.956393   90.0

## b)

In [64]:
Rab = Rbc = Rca = R1a = R1b = R1c =230

### Malhas
Resolvendo sistemas com as malhas \
\
Malha 1:
    
    Van - R1a*I1 - Rab*I1 + Rab*I3 - R1b*I1 + R1b*I2 - Vbn =0
    
Malha 2:
    
    Vbn - R1b*I2 + R1b*I1 - Rbc*I2 + Rbc*I3 - R1c*I2 - Vcn = 0
    
Malha 3:
    
    -Rab*I3 + Rab*I1 - Rca*I3 - Rbc*I3 + Rbc*I2= 0

In [65]:
M1 = np.array([[(R1a+R1b+Rab),-R1b,-Rab],
              [-R1b,(R1b+R1c+Rbc),-Rbc],
              [Rab,Rbc,-Rab-Rbc-Rca]])
M2 = np.array([[(Van-Vbn)],
              [(Vbn-Vcn)],
              [0]])
I = np.linalg.solve(M1,M2)

I1 = I[0]
I2 = I[1]
I3 = I[2]

Ia = I1
Ib = I2 - I1
Ic = -I2
Iab = I1 - I3
Ibc = I2 - I3
Ica = -I3

In [66]:
vals = [Ia, Ib ,Ic,
        Iab, Ibc ,Ica]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib' , 'Ic',
                               'Iab', 'Ibc' , 'Ica'], 
                       columns = ['Módulo','fase'])
display(df_vals)

                    Módulo          fase
Ia   [0.41413043478260847]  8.548262e-15
Ib    [0.4141304347826087] -1.200000e+02
Ic   [0.41413043478260864]  1.200000e+02
Iab   [0.2390983180013558]  3.000000e+01
Ibc  [0.23909831800135595] -9.000000e+01
Ica  [0.23909831800135573]  1.500000e+02

## c)

In [67]:
Rx2 = 230

In [68]:
Iab = (Van-Vbn)/Rab
Ibc = (Vbn-Vcn)/Rbc
Ica = (Vcn-Van)/Rca
Ian = (Van-Vbn)/(Rx2+Rx2)
Icn = -Ian
Ia = Iab - Ica + Ian
Ib = Ibc - Iab
Ic = Ica - Ibc + Icn

In [69]:
vals = [Ia, Ib ,Ic,
        Iab, Ibc, Ica,
        Ian, Icn]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib' , 'Ic',
                               'Iab', 'Ibc' , 'Ica',
                               'Ian' , 'Icn'], 
                       columns = ['Módulo','fase'])
display(df_vals)

       Módulo        fase
Ia   2.084411    6.586776
Ib   1.656522 -120.000000
Ic   1.724162  136.102114
Iab  0.956393   30.000000
Ibc  0.956393  -90.000000
Ica  0.956393  150.000000
Ian  0.478197   30.000000
Icn  0.478197 -150.000000

## d)

In [70]:
Iab = (Van-Vbn)/Rab
Ibc = (Vbn-Vcn)/Rbc
Ica = (Vcn-Van)/Rca
Ian = Van/Rx2
Icn = Vcn/Rx2
Ia = Iab - Ica + Ian
Ib = Ibc - Iab
Ic = Ica - Ibc + Icn
In = Ian + Icn

In [71]:
vals = [Ia, Ib ,Ic,
        Iab, Ibc, Ica,
        Ian, Icn,
        In]
datas = []
for i in vals:
    f = [abs(i),(cm.phase(i))*180/(m.pi)]
    datas.append(f)
df_vals = pd.DataFrame(data = datas, 
                       index = ['Ia', 'Ib' , 'Ic',
                               'Iab', 'Ibc' , 'Ica',
                               'Ian' , 'Icn',
                               'In'], 
                       columns = ['Módulo','fase'])
display(df_vals)

       Módulo   fase
Ia   2.208696    0.0
Ib   1.656522 -120.0
Ic   2.208696  120.0
Iab  0.956393   30.0
Ibc  0.956393  -90.0
Ica  0.956393  150.0
Ian  0.552174    0.0
Icn  0.552174  120.0
In   0.552174   60.0